@(message: String)
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@message</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/foundation.min.css")">
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <h1> @message this is a PasteBin! </h1>
                
                @form(action = routes.Application.uploadPaste()) {
                    <input type="text" name="paste" id="paste"/>
                        <input type="submit"/>
                }
            </div>
        </div>
    </body>
</html>


